<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProcesosDiarios.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProcesosDiarios.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ProcesosDiarios.My.MySettings.ConnectionString" connectionString="Data Source=server-raid2;Initial Catalog=production;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2015"
            providerName="System.Data.SqlClient" />
        <add name="ProcesosDiarios.My.MySettings.ConnectionStringWEB"
            connectionString="Data Source=server-raid2;Initial Catalog=WEB_Finagil;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2015"
            providerName="System.Data.SqlClient" />
        <add name="ProcesosDiarios.My.MySettings.ConectionStringCFDI"
            connectionString="Data Source=server-raid2;Initial Catalog=Production;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ProcesosDiarios.My.MySettings>
            <setting name="RutaBackupDB" serializeAs="String">
                <value>\\server-nas\RespaldosDB\</value>
            </setting>
            <setting name="RutaBackupRaid" serializeAs="String">
                <value>\\server-nas\RespaldoServerRaid\</value>
            </setting>
            <setting name="RutaBackupMinds" serializeAs="String">
                <value>\\server-nas\RespaldoServerMinds\</value>
            </setting>
            <setting name="RutaBackupContpaq" serializeAs="String">
                <value>\\server-nas\RespaldoServerContpaq\DataBases</value>
            </setting>
            <setting name="RutaOrigenBackup_Contpaq" serializeAs="String">
                <value>\\COMPAC01\Diario\</value>
            </setting>
            <setting name="ConnectionStringDOMI" serializeAs="String">
                <value>Data Source=SERVER-RAID2;Initial Catalog=production;User ID=User_PRO;Password=User_PRO2015</value>
            </setting>
            <setting name="RutaOrigenFuentes" serializeAs="String">
                <value>X:\EDGAR\Fuentes\</value>
            </setting>
            <setting name="RutaFolios" serializeAs="String">
                <value>\\server-nas\FacturasCFDI\FoliosEkomercio\</value>
            </setting>
        </ProcesosDiarios.My.MySettings>
    </userSettings>
    <applicationSettings>
        <ProcesosDiarios.My.MySettings>
            <setting name="RutaOrigenBackup_Raid" serializeAs="String">
                <value>\\server-raid2\Puente Sistemas\</value>
            </setting>
        </ProcesosDiarios.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
